

<h1>SANCTION</h1>
<div class="text-center sanction" >
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
   

    <input type="submit" (click)=onUpload() class="fadeIn fourth" value="Upload" style="margin:20px">

</div>
<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>


        