<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  
  
    <div class="container d-flex align-items-center justify-content-between">
      
      
      

        <a href="index.html" class="logo1 d-flex align-items-center">
          <img src="assets/logonew.png" alt=""></a>
        
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="" class="logo">
         </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="sanction">Sanction</a></li>
          <li><a class="nav-link scrollto" href="keyword">Keywords</a></li>
          <li><a class="nav-link scrollto o" href="archives">Archives</a></li>
        
          <li><a class="nav-link scrollto o" href="analytics">Analytics</a></li>
          <li><a class="nav-link scrollto" href="logout">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->