<!-- ======= Header ======= -->
<header id="header" class="fixed-top" style="background-color:#003B70">
  
  
    <div class="container d-flex align-items-center justify-content-between">
      
      
      

        <a href="index.html" class="logo1 d-flex align-items-center">
          <img src="assets/oninsightful-and-impactful-marketing-png-logo-2.png"  alt=""></a>
        <h1 style="color:white;font-size: 50px;align-self:center;margin-bottom: 0%;padding-top: 15px;padding-left: 95px;">Sanctum</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="" class="logo">
         </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="" style="font-size:large;color:white">Home</a></li>
          <li><a class="nav-link scrollto" href="sanction" style="font-size:large;color:white">Sanction</a></li>
          <li><a class="nav-link scrollto" href="keyword" style="font-size:large;color:white">Keywords</a></li>
          <li><a class="nav-link scrollto o" href="archives" style="font-size:large;color:white">Archives</a></li>
        
          <li><a class="nav-link scrollto o" href="analytics" style="font-size:large;color:white">Analytics</a></li>
          <li><a class="nav-link scrollto" href="logout" style="font-size:large;color:white">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->