<div class="mat-elevation-z8">
  <table class="mat-elevation-z8 full-width-table" mat-table  matSort aria-label="Elements">
    <ng-container matColumnDef="filename">
      <th style="text-align:center;font-size: 16px" mat-header-cell *matHeaderCellDef>File Name</th>
      <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
    </ng-container>
    <ng-container matColumnDef="transactionRefNo">
     <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>TransactionId</th>
     <td mat-cell *matCellDef="let element"> {{element.transactionRefNo}} </td>
   </ng-container>
 
   <!-- Name Column -->
   <ng-container matColumnDef="valueDate">
     <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>Date</th>
     <td mat-cell *matCellDef="let element"> {{element.valueDate}} </td>
   </ng-container>
 
   <!-- Weight Column -->
   <ng-container matColumnDef="payerName">
     <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>Payer</th>
     <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
   </ng-container>
 
   <!-- Symbol Column -->
   <ng-container matColumnDef="payerAccountNo">
     <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>Payer Account No</th>
     <td mat-cell *matCellDef="let element"> {{element.payerAccountNumber}} </td>
   </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="payeeName">
       <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef> Payee</th>
       <td mat-cell *matCellDef="let element"> {{element.payeeName}} </td>
     </ng-container>

     <!-- Symbol Column -->
   <ng-container matColumnDef="payeeAccountNo">
       <th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef> Payee Account No</th>
       <td mat-cell *matCellDef="let element"> {{element.payeeAccountNumber}} </td>
     </ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="validationStatus">
<th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>Validation Status</th>
<td mat-cell *matCellDef="let element" > {{element.validationStatus}} </td>
</ng-container>



<!-- Symbol Column -->
<ng-container matColumnDef="sanctioningStatus">
<th style="text-align:center;font-size: 16px;" mat-header-cell *matHeaderCellDef>Sanctioning Status</th>
<td mat-cell *matCellDef="let element"> {{element.sanctioningStatus}} </td>
</ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="sanctionFailMessage">
<th style="font-size: 16px;text-align:center " mat-header-cell *matHeaderCellDef >Message</th>
<td mat-cell *matCellDef="let element" width="15%"> {{element.sanctionFailMessage}} {{element.validationFailMessage}} </td>
</ng-container>
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator
   [length]="dataSource?.data?.length"
   [pageIndex]="0"
   [pageSize]="10"
   [pageSizeOptions]="[5, 10, 20]"
   aria-label="Select page">
</mat-paginator>

</div>

