<app-header></app-header>
<section id="hero" class="d-flex align-items-center text-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center" >
<h1 style="margin-bottom : 20px">Analytics</h1>
<div style="width : 1000px;margin-bottom : 20px">
  <canvas id = "MyChart"></canvas>
  <h6>Recent transactions</h6>
</div>
<div style="width : 500px;  margin-right: 300px; margin-left: 300px; ">
<div>
 
  <canvas id = "PieChart"></canvas>
  <h6 style="margin-top: 20px;">Transaction Status</h6>
  <br><br>
</div>
</div>

<div style="width : 600px;">
  <div>
    <canvas id = "LineChartv"></canvas>
    <h6 style="margin-top: 20px">Validation Fail Analysis</h6>
  </div>
  </div>
  <div style="width : 600px;">
    <div>
      <canvas id = "LineCharts"></canvas>
      <h6 style="margin-top: 20px">Sanction Fail Analysis</h6>
    </div>
    </div>
      </div>
    </div></section>